In [72]:
import requests
import os
import sqlalchemy as sql
import tarfile
import pandas as pd
import geopandas as gpd
import shutil
import reverse_geocoder as rg
import datetime

In [73]:
data_url = "https://www.ncei.noaa.gov/data/global-summary-of-the-day/archive/"
os.makedirs("data", exist_ok=True)

def download_data(year):
    file_name = f"{year}.tar.gz"
    url = data_url + file_name
    response = requests.get(url)

    with open(os.path.join("data", file_name), "wb") as f:
        f.write(response.content)

# Download data for the specified range
for year in range(1950, 2001):
        download_data(year)

In [74]:
def process_data(file_path):
    df = pd.read_csv(file_path)
  
    df1 = pd.DataFrame(df, columns=['DATE', 'NAME', 'TEMP', 'PRCP', 'MIN', 'MAX'])
     #print(df1)
  
    return df1
    """if not df.empty:
        locations = list(zip(df['LATITUDE'], df['LONGITUDE']))
        result = rg.search(locations)
        df['COUNTRY'] = [res['cc'] for res in result
        df = df1[['DATE', 'COUNTRY', 'TEMP', 'PRCP']]
    else:
        df = pd.DataFrame(columns=['DATE', 'COUNTRY', 'TEMP', 'PRCP'])
    return df"""

yearly_data = []

for year in range(1950, 2001):
    file_name = f"{year}.tar.gz"
    file_path = os.path.join("data", file_name)

    with tarfile.open(file_path, 'r:gz') as tar:
        # Extracting each CSV file to a temp directory
        temp_dir = "temp_extracted"
        file_members = tar.getmembers()
        csv_members = [member for member in file_members if member.name.endswith('.csv') 
                        and (member.name.startswith('7')or member.name.startswith('69')or member.name.startswith('99'))]
        tar.extractall(temp_dir, members=csv_members)

        for csv_file_name in os.listdir(temp_dir):
            csv_file_path = os.path.join(temp_dir, csv_file_name)
            #print(csv_file_path)
            yearly_data.append(process_data(csv_file_path))
            #print(yearly_data)
        
        shutil.rmtree(temp_dir)

    os.remove(file_path)

In [75]:
US_data = pd.concat(yearly_data, ignore_index=True)
US_data = US_data[US_data['NAME'].str[-2:]=='US']
US_data

                DATE                          NAME  TEMP  PRCP   MIN   MAX
354       1950-01-01     TACOMA MCCHORD AFB, WA US  30.4  0.20  24.1  34.0
355       1950-01-02     TACOMA MCCHORD AFB, WA US  22.9  0.00  14.0  28.0
356       1950-01-03     TACOMA MCCHORD AFB, WA US  17.0  0.31  10.9  28.9
357       1950-01-04     TACOMA MCCHORD AFB, WA US  25.3  0.00  16.0  30.9
358       1950-01-05     TACOMA MCCHORD AFB, WA US  28.3  0.00  19.9  39.0
...              ...                           ...   ...   ...   ...   ...
22437915  2000-12-27  CYRIL E. KING AIRPORT, VI US  76.8  0.00  71.1  82.9
22437916  2000-12-28  CYRIL E. KING AIRPORT, VI US  77.0  0.00  72.0  82.9
22437917  2000-12-29  CYRIL E. KING AIRPORT, VI US  79.5  0.00  72.0  82.9
22437918  2000-12-30  CYRIL E. KING AIRPORT, VI US  80.2  0.00  78.1  84.0
22437919  2000-12-31  CYRIL E. KING AIRPORT, VI US  79.7  0.00  75.0  84.0

[15912488 rows x 6 columns]

In [76]:
US_data['DATE'] = pd.to_datetime(US_data['DATE'])
#df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce', format='%m/%d/%Y')
US_data['MONTH']=US_data['DATE'].dt.month
US_data['YEAR']=US_data['DATE'].dt.year
US_data.to_csv("US_data.csv", index=False)
US_data

,DATE,NAME,TEMP,PRCP,MIN,MAX,MONTH,YEAR
354,1950-01-01,"TACOMA MCCHORD AFB, WA US",30.4,0.20,24.1,34.0,1,1950
355,1950-01-02,"TACOMA MCCHORD AFB, WA US",22.9,0.00,14.0,28.0,1,1950
356,1950-01-03,"TACOMA MCCHORD AFB, WA US",17.0,0.31,10.9,28.9,1,1950
357,1950-01-04,"TACOMA MCCHORD AFB, WA US",25.3,0.00,16.0,30.9,1,1950
358,1950-01-05,"TACOMA MCCHORD AFB, WA US",28.3,0.00,19.9,39.0,1,1950
...,...,...,...,...,...,...,...,...
22437915,2000-12-27,"CYRIL E. KING AIRPORT, VI US",76.8,0.00,71.1,82.9,12,2000
22437916,2000-12-28,"CYRIL E. KING AIRPORT, VI US",77.0,0.00,72.0,82.9,12,2000
22437917,2000-12-29,"CYRIL E. KING AIRPORT, VI US",79.5,0.00,72.0,82.9,12,2000
22437918,2000-12-30,"CYRIL E. KING AIRPORT, VI US",80.2,0.00,78.1,84.0,12,2000
22437919,2000-12-31,"CYRIL E. KING AIRPORT, VI US",79.7,0.00,75.0,84.0,12,2000

In [77]:
US_Analysis=pd.DataFrame()
filtered_df1 = US_data[US_data["TEMP"] != 9999.9]
aggregated_df1 = filtered_df1.groupby(["YEAR", "MONTH"]).agg({
    'TEMP': ['mean', 'median']
}).reset_index()
aggregated_df1.columns = [f'{col[0]}_{col[1]}' for col in aggregated_df1.columns]
print(aggregated_df1)

     YEAR_  MONTH_  TEMP_mean  TEMP_median
0     1950       1  35.575216         37.0
1     1950       2  36.675682         38.0
2     1950       3  41.373935         40.9
3     1950       4  50.118241         49.8
4     1950       5  60.765406         61.3
..     ...     ...        ...          ...
607   2000       8  72.425496         73.1
608   2000       9  65.115831         65.6
609   2000      10  55.356279         56.2
610   2000      11  41.092909         41.0
611   2000      12  30.174530         30.2

[612 rows x 4 columns]

In [78]:
filtered_df2 = US_data[US_data["MIN"] != 9999.9]
aggregated_df2 = filtered_df2.groupby(["YEAR", "MONTH"]).agg({
    'MIN': ['mean']
}).reset_index(drop = True)
aggregated_df2.columns = [f'{col[0]}_{col[1]}' for col in aggregated_df2.columns]
print(aggregated_df2)

      MIN_mean
0    27.468086
1    28.257686
2    32.417314
3    40.392450
4    50.985278
..         ...
607  61.873967
608  54.361967
609  45.379041
610  32.946995
611  21.752991

[612 rows x 1 columns]

In [79]:
filtered_df3 = US_data[US_data["MAX"] != 9999.9]
aggregated_df3 = filtered_df3.groupby(["YEAR", "MONTH"]).agg({
    'MAX': ['mean']
    }).reset_index(drop = True)
aggregated_df3.columns = [f'{col[0]}_{col[1]}' for col in aggregated_df3.columns]
print(aggregated_df3)

      MAX_mean
0    45.850634
1    47.362378
2    52.505036
3    61.701420
4    72.043529
..         ...
607  83.793111
608  77.269462
609  66.938918
610  50.337215
611  39.568211

[612 rows x 1 columns]

In [80]:
filtered_df4 = US_data[US_data["PRCP"] != 99.99]
aggregated_df4 = filtered_df4.groupby(["YEAR", "MONTH"]).agg({
    'PRCP': ['mean', 'median', 'min', 'max']
}).reset_index(drop = True)
aggregated_df4.columns = [f'{col[0]}_{col[1]}' for col in aggregated_df4.columns]
print(aggregated_df4)

     PRCP_mean  PRCP_median  PRCP_min  PRCP_max
0     0.011511          0.0       0.0      2.68
1     0.006912          0.0       0.0      1.65
2     0.009131          0.0       0.0      2.09
3     0.007008          0.0       0.0      2.44
4     0.007844          0.0       0.0      4.53
..         ...          ...       ...       ...
607   0.055662          0.0       0.0      7.16
608   0.076093          0.0       0.0      9.23
609   0.051963          0.0       0.0     12.48
610   0.060295          0.0       0.0      6.74
611   0.036934          0.0       0.0     13.90

[612 rows x 4 columns]

In [81]:
US_Analysis = pd.concat([aggregated_df1,aggregated_df2,aggregated_df3,aggregated_df4], axis=1)
US_Analysis.to_csv('Weather_Analysis_US.csv', index=False)

In [82]:
e = sql.create_engine(
        'postgresql://postgres:password@localhost:5432/postgres')

df = pd.read_csv("Weather_Analysis_US.csv")
with e.begin() as connection:
    df.to_sql("Monthly_weather_analysis", con=connection)